* {
  font-family: 'Comfortaa', cursive !important;
}

.ProseMirror img {
  max-width: 100% !important;
  border-radius: 3px;
}

.ProseMirror p {
  font-size: 18px !important;
}

.ProseMirror {
  /* outline: none; */
  word-wrap: break-word;
  font-variant-ligatures: none;
  word-break: break-word;
  line-height: 15px;
}

.ProseMirror blockquote {
  border-left: 3px solid rgba(0,0,0,.1);
  color: rgba(0,0,0,.8);
  padding-left: .8rem;
  font-style: italic;
}

.ProseMirror pre {
  padding: .7rem 1rem;
  border-radius: 5px;
  background: #000 !important;
  color: #fff !important;
  font-size: .8rem;
  overflow-x: auto;
}

.ProseMirror, .ProseMirror pre {
  white-space: pre-wrap
}

.ProseMirror pre code {
  background: #000 !important;
  color: #fff !important;
  display: block;
}

.ProseMirror ul {
  padding-left: 1rem
}

.ProseMirror
blockquote,
h1,
h2,
h3,
h4,
ol,
ul,
p,
pre {
  margin: 0 !important;
}

.editor-toolbar {
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  overflow-x: auto;
  overflow-y: hidden;
}

.v-btn--active.not-active {
  transition-duration: 0.28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1 !important;
  color: rgba(0,0,0,.87) !important;
}

.v-btn--active.not-active::before {
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1) !important;
  border-radius: inherit;
  bottom: 0;
  color: inherit !important;
  content: "";
  left: 0;
  opacity: 0 !important;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: currentColor !important;
}

.v-btn--active.not-active:hover::before {
  // color: rgba(0,0,0,.87) !important;
  opacity: 0.08 !important;
}

.font-size-btn {
  width: 150px;
}
